body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color:#f0a500;
    color:#f0a500;
}

header {
    background-color: #333;
    padding: 15px;
    
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #f0a500;
}

/* Estilos das seções */
section {
    padding: 60px;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}